<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>draft albums</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <form class="container" method="POST" action="./">
            <div class="card">
                {{define "input"}}
                    <div class="input-field col s6">
                        <input
                            id="draft_artist"
                            type="text"
                            class="validate"
                            value={{.}}
                        >
                        <label for="draft_artist">draft artist</label>
                    </div>
                {{end}}

                <div class="row">
                    {{template "input" .DraftAlbum.Artist.String}}
                </div>
            </div>
        </form>
    </body>
</html>
